BODY {
	BACKGROUND-COLOR: #ffffff
}
A {
	COLOR: #006693; TEXT-DECORATION: none
}
A:hover {
	COLOR: #d68e07; TEXT-DECORATION: underline
}
.MenuLinks {
	COLOR: #000000; TEXT-DECORATION: none
}
A.MenuLinks:hover {
	COLOR: #d68e07; TEXT-DECORATION: underline
}
.BigLinks {
	COLOR: #006693; TEXT-DECORATION: none
}
A.BigLinks:hover {
	COLOR: #d68e07; TEXT-DECORATION: underline
}
.SmallLinks {
	COLOR: #006693; TEXT-DECORATION: none
}
A.SmallLinks:hover {
	COLOR: #d68e07; TEXT-DECORATION: underline
}
.TinyLinks {
	COLOR: #d68e07; TEXT-DECORATION: none
}
A.TinyLinks:hover {
	COLOR: #006693; TEXT-DECORATION: underline
}
.MainLinks {
	COLOR: #006693; TEXT-DECORATION: underline
}
A.MainLinks:hover {
	COLOR: #d68e07; TEXT-DECORATION: underline
}
.RedLinks {
	COLOR: #cb0000; TEXT-DECORATION: underline
}
A.RedLinks:hover {
	COLOR: #d68e07; TEXT-DECORATION: underline
}
.TealLinks {
	COLOR: teal; TEXT-DECORATION: none
}
A.TealLinks:hover {
	COLOR: #d68e07; TEXT-DECORATION: underline
}
.Red2Links {
	COLOR: #cb0000; TEXT-DECORATION: none
}
A.Red2Links:hover {
	COLOR: #d68e07; TEXT-DECORATION: underline
}
.BrightRedLinks {
	COLOR: red; TEXT-DECORATION: none
}
A.BrightRedLinks:hover {
	COLOR: #d68e07; TEXT-DECORATION: underline
}
.ProdNav {
	COLOR: #d68e07; TEXT-DECORATION: none
}
A.ProdNav:hover {
	TEXT-DECORATION: none
}
.TextNav {
	COLOR: #000000; TEXT-DECORATION: none
}
A.TextNav:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.Text2Nav {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Text2Nav:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.OrangeUnderlineLinks {
	COLOR: #d68e07; TEXT-DECORATION: underline
}
A.OrangeUnderlineLinks:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.BlueLinks {
	COLOR: blue; TEXT-DECORATION: none
}
A.BlueLinks:hover {
	COLOR: #d68e07; TEXT-DECORATION: underline
}
.model {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.copy {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #006693; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.titles {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.leftNav {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 1.5; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.leftNav:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 1.5; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.leftNav:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 1.5; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.leftNav:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 1.5; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.leftNav:hover {
	COLOR: #006693; TEXT-DECORATION: underline
}
.leftNavSub {
	FONT-SIZE: 11px; COLOR: #006693; LINE-HEIGHT: 1.3; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.leftNavSub:link {
	FONT-SIZE: 11px; COLOR: #006693; LINE-HEIGHT: 1.3; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.leftNavSub:active {
	FONT-SIZE: 11px; COLOR: #006693; LINE-HEIGHT: 1.3; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.leftNavSub:visited {
	FONT-SIZE: 11px; COLOR: #006693; LINE-HEIGHT: 1.3; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.leftNavSub:hover {
	COLOR: #d68e07; TEXT-DECORATION: underline
}
.rightNavHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial,helvetica; TEXT-DECORATION: none
}
.rightNav {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial,helvetica; TEXT-DECORATION: none
}
A.rightNav:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial,helvetica; TEXT-DECORATION: none
}
A.rightNav:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial,helvetica; TEXT-DECORATION: none
}
A.rightNav:hover {
	FONT-SIZE: 11px; COLOR: #d68e07; FONT-FAMILY: arial,helvetica; TEXT-DECORATION: none
}
